<!DOCTYPE html>
<html>
<head>
  <title></title>
  {{#each styles}}
  <link rel="stylesheet" type="text/css" href="{{this}}">
  {{/each}}
  {{#each external}}
  {{script this}}
  {{/each}}
  {{#each schedules}}
  {{script this}}
  {{/each}}
  {{#each templates}}
  {{script this}}
  {{/each}}
  {{#each source}}
  {{script this}}
  {{/each}}
</head>
<body>

</body>
</html>
